script(type='text/javascript')
    $().ready(function() {
        $('#main_view').hide();
        $('#spinner').hide();
    });

    function toggleMainView() {
         $('#login_view').hide();
         $('#main_view').show();
    }
    
    function toggleSpinner() {
        if (document.spinner) {
            document.spinner.stop();
            delete document.spinner;
            $('#spinner').hide();
            $('#canvas').show();
        } else {
            $('#canvas').hide();
            $('#spinner').show();
            document.spinner = new Spinner().spin($('#spinner').get(0));
        }
    }

    function addToPlaylist(song) {
        var caption = song.artist + " - " + song.title;
        var referense = $("<a>").attr("href", "#").append(caption);
        var li = $('<li>').append(referense).data("song", song);
        $('#playlist ul').append(li);
    }

    function onPlaylistClicked(handler) {
        $('#playlist li').click(function() {
            handler($(this).data("song"));
        }); 
    }


#login_view
    #login_button

#main_view
    #spinner
    canvas#canvas(width="1000", height="600");
    #playlist
        ul
