!!!
html
  head
    title= title
    
    // libs
    script(src="http://vkontakte.ru/js/api/openapi.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="js/soundmanager2.min.js")
    script(src="js/spin.js")
    
    script(src="js/app.js")
    script(src="js/playlist.js")
    
    link(rel="stylesheet", href="/css/style.css")

  body!= body

