#spinner
    width: 1000px;
    height: 600px;
    float: left;

#canvas
    float:left;
    
#playlist
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    background-color: #90bade;
    color: #333;
    
#playlist ul 
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;

#playlist li
    border-bottom: 1px solid #90bade;

#playlist li a 
    display: block;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;

#playlist li a:hover
    background-color: #2586d7;
    color: #fff;
